<?xml version="1.0" ?>
<!--
/**
 * Copyright © Experius. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fidesio_donation>
            <general>
                <enabled>1</enabled>
                <fixed_amounts>5,10,15,25,50</fixed_amounts>
            </general>
        </fidesio_donation>
    </default>
</config>