.page-product-donation .product-add-form .qty {
    display: none !important;
}

.page-product-donation .box-tocart {
    margin-top: 10px;
}

.fidesio-donation {
    background-color: #f5f5f5;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 20px;
}
.fidesio-donation * {
    box-sizing: border-box;
}
.fidesio-donation .fidesio-donation-product-list {
    display: block;
    flex-flow: row wrap;
    justify-content: space-between;
}
.fidesio-donation .fidesio-donation-product-list header {
    width: 100%;
}
.fidesio-donation .fidesio-donation-product {
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    display: inline-block;
    margin: 0 1% 10px 0;
    padding: 20px;
    width: 48%;
}
.fidesio-donation .fidesio-donation-image-wrapper {
    display: block;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.fidesio-donation .fidesio-donation-product-image {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: auto;
}
.fidesio-donation .fidesio-donation-product-tocart {
    background-color: #00457F;
    border-radius: 2px;
    border: none;
    color: white;
    display: none;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.fidesio-donation-modal {
    display: none;
    text-align: center;
}

.fidesio-donation-modal .charity-description {
    padding: 10px;
}
.fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-fixed-amounts {
    display: flex;
    flex-direction:row;
}
.fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-fixed-amounts  input[type="radio"] {
    display: none;
}
.fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-fixed-amounts  label.fidesio-donation-amount-label {
    background-color: #00457F;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    color: white;
    flex:1 1 auto;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    padding: 0 5px;
    text-align: center;
}
.fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-custom-amount {
    margin-bottom: 2rem;
    padding: 10px;
}

.fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-amount-notification {
    margin-bottom: 2rem;
    font-style: italic;
}
.fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-custom-amount .custom-donation-amount-field .custom-amount-currency-symbol{
    border: 1px solid #c2c2c2;
    border-radius: 3px 0 0 3px;
    border-right: 0;
    box-sizing: border-box;
    display: block;
    float: left;
    font-weight: bold;
    height: 40px;
    line-height: 38px;
    width: 7%;
}
.fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-custom-amount .custom-donation-amount-field input{
    border-radius: 0 3px 3px 0;
    box-sizing: border-box;
    display: block;
    height: 40px;
    padding: 0 20px;
    width: 93%;
}
.fidesio-donation  .fidesio-donation-product:hover,
.fidesio-donation-modal .charity-form .fidesio-donation-amounts label:hover {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fidesio-donation  .fidesio-donation-product:hover .fidesio-donation-product-tocart,
.fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-fixed-amounts label:hover,
.fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-fixed-amounts input[type="radio"]:checked+label {
    background-color: #ff8159;
    text-decoration: none;
}
.fidesio-donation-modal .charity-form .fidesio-donation-form-actions {
    padding: 10px;
}
.fidesio-donation-modal .charity-form .fidesio-donation-form-actions button.charity-button.action {
    line-height: 2.2rem;
    padding: 14px 17px;
    width: 100%;
}

/* Magento 1 inside column */
.col-left .fidesio-donation {
    padding: 10px;
}
.col-left .fidesio-donation .fidesio-donation-product {
    width: 100%;
}

.sidebar .fidesio-donation {

}

#opc-sidebar .fidesio-donation{
    padding: 0;
}

#opc-sidebar .fidesio-donation .fidesio-donation-product,
.cart-summary .fidesio-donation .fidesio-donation-product,
.sidebar .fidesio-donation .fidesio-donation-product{
    width: 31%;
    padding: 0px;
}

#opc-sidebar .fidesio-donation .fidesio-donation-product-tocart,
.cart-summary .fidesio-donation .fidesio-donation-product-tocart,
.sidebar .fidesio-donation .fidesio-donation-product-tocart {
    display: none;
}

.fidesio-donation-block-wrapper {

}
.visibleDonation {
    opacity: 1!important;
}


@media (max-width: 380px) {
    .fidesio-donation-modal .charity-form .fidesio-donation-amounts .fidesio-donation-fixed-amounts  label.fidesio-donation-amount-label {
        margin: 5px;
        padding: 0px;
    }
}

@media (min-width: 479px) {
    .fidesio-donation .fidesio-donation-mobile-instructions {
        display: none;
    }
    .fidesio-donation .fidesio-donation-product-tocart {
        display: block;
    }
}
@media (min-width: 599px) {
    .fidesio-donation .fidesio-donation-product {
        width: 31%;
    }
}
@media (min-width: 768px) {
    .fidesio_donation-modal-popup .modal-inner-wrap {
        width: 65%;
    }
    .cart-summary .fidesio-donation{
        padding: 0px;
    }
}
@media (min-width: 803px) {
    .fidesio_donation-modal-popup .modal-inner-wrap {
        width: 50%;
    }
    .checkout-cart-index .fidesio-donation .fidesio-donation-product {
        width: 22.5%;
    }
}
@media (min-width: 1024px) {
    .fidesio-donation .fidesio-donation-product {
        width: 23.5%;
    }
}
@media (min-width: 1200px) {
    .fidesio_donation-modal-popup .modal-inner-wrap {
        width: 40%;
    }
}
